@charset "utf-8";
/* CSS Document */

html{
	scroll-behavior: smooth;
}
*{
	font-family: Inter, sans-serif;
	color: white;
}
body{
	background:#222222;
	margin: 0px;
}
body::-webkit-scrollbar{
  display: none;
}
.container{
	min-width: 480px;
	width:100vw;
	height:100%;
}

.splash{
	display: block;
	width: 50%;
	height: 100vh;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	/*align-content: center;*/
	text-align: center;
}

.splashText{
	display:inherit;
}
/*.splash *{
	margin:inherit;
	display: inherit;
}
*/
@media screen and (min-width: 600px){
	.navbar{
		display: block;
		overflow: hidden;
		float: left;
		bottom: 0;
		position: fixed;
		padding: 5%;
	}
	.navbar hr{
		border: 2px solid grey;
		width: 92%;
	}
}
@media screen and (min-width: 900px){
	.skills{
		display: flex;
		padding: 2em;
	}
}
@media screen and (max-width: 900px){
	.skills{
		display: block;
		padding: 2em;
	}
}
@media screen and (max-width: 600px){
	.navbar{
		display: block;
		float: none;
		width: 200px;
  		position: fixed;
  		left: 50%;
  		transform: translate(-50%, -50%);
		overflow: hidden;
		text-align: center;
		bottom: 0;
		padding: 0 0 5% 0;
	}
	.navbar hr{
		border: 2px solid grey;
		width: 20%;
	}
}
.navbar a{
	float: inherit;
	text-decoration: none;
	
}
.skillbr{
	width: 120px;
	height: 0.5em;
	border-radius: 10px;
	background: black;
	box-sizing: border-box;
}

.adobe{ width: 85%; height: 0.5em; background: #E91E63}
.blender{ width: 85%; height: 0.5em; background: #E91E63}
.htcs{ width: 70%; height: 0.5em; background: #E91E63}
.ue{ width: 50%; height: 0.5em; background: #E91E63}
/*.navbar a:active img{
	background: url("2d.svg") no-repeat;
}*/
.navbar img{
	width: 2em;
	padding: 0 0.5em 0 0.5em ;
}
/*.skills{
	display: flex;
	padding: 2em;
	min-width: 500px;
}*/
.skillitem{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.container_gallery{
	min-width: 480px;
	width:100%;
	height:100vh;
	padding: 0;
	background: #1e1e1e;
}