:root{
    --bgcolor: #222222;
    --pcolor: #808080;
}

*{
    font-family: 'Questrial', 'Work Sans', sans-serif;
    color: #808080;
    letter-spacing: 0.5rem;
    cursor:url(/main/cursor1.svg), auto;
}

body{
    background-color: var(--bgcolor);
}

.flex{
    display: flex;
    width: 100%;
}
.w100{
    width: 100%;
}

.text-sm{
    font-size: small;
}

.text-lg{
    font-size: large;
}

.justify-center{
    justify-content: center;
}

.bottom{
    position: fixed;
    bottom: 2rem;
}

.mx-2{
    margin-left: 2rem;
    margin-right: 2rem;
}
.mt-2{
    margin-top: 15rem;
}

.navlink{
    cursor: none;
    transition: 200ms ease-in-out;
    padding: 0.5rem 1rem;
}

.navflex{
    display: flex;
}

#slash:hover{
    background-color: var(--pcolor);
    color: var(--bgcolor);
}

.middle{
    align-items: center;
    transform: translate(0, 150%);
}